section.page.view-route
  

  div(margin-top='10px')
  img(data-hook='avatar', width='80',  height='80')
  div(style="display:inline-table; margin:1em;")
    h2(data-hook='name')
    h4(data-hook='id')

  span.btn-group
      a.btn.btn-default(target="_blank" data-hook="action-nav") Trips
  ul
    li(data-hook='details')
    li(data-hook='alerts')
