li.route.list-group-item
  img(data-hook="avatar", width="40" height="40")
  a(data-hook="name")
  em &nbsp
    span(data-hook="summary")
     p &nbsp
  span(data-hook="locationDetailed")
  span.btn-group.pull-right
    a.btn.btn-default(target="_blank" data-hook="action-nav") Map
